PRIVATE_KEY=0xyour_metamask_private_key_here
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
ETHERSCAN_API_KEY=your_etherscan_api_key_here


# deployed addresses for StakingToken, RewardToken, and StakingEngine
# StakingToken: 0xB25E5D7374c0B6B88819C6Bf774AEf4f4d3fBF18

# RewardToken: 0xA3cD5A33b9bDDb8214041ba79aFC468dB7F5DD55

# StakingEngine: 0xB8B39f6d8a225DBFe418d5E0A658D34b6b13c79e

# Factory Contract Deployed: StakingBundle was deployed at 0x8b599d270D826f4C917C9378293e6616436806AC